<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DotNetStringRepacker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <DotNetStringRepacker.Properties.Settings>
            <setting name="InputFile" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputFile" serializeAs="String">
                <value />
            </setting>
            <setting name="StringsFile" serializeAs="String">
                <value />
            </setting>
            <setting name="IldasmPath" serializeAs="String">
                <value>il\ildasm.exe</value>
            </setting>
            <setting name="IlasmPath" serializeAs="String">
                <value>il\ilasm.exe</value>
            </setting>
        </DotNetStringRepacker.Properties.Settings>
    </userSettings>
</configuration>